@{
    Layout = null;
    ViewBag.Title = "Home Page";
}

<!doctype html>
<html>

<head>
    <title>Paint Survey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/static/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/caro.css" />
    <script src="/static/lib/jquery-1.11.2.min.js"></script>
    <script src="/static/caro.js"></script>
</head>

<body>
    <h1 id='app-title'>Paint Survey</h1>
    <b>@ViewBag.Message</b>
</body>

    <script src="/static/common.js"></script>
    <script src="/static/app.js"></script>
</html>